@require "partials/_global.styl"

/* ==========================================================================
	Child Main Stylesheet
   ========================================================================== */

html
	-ff_body()
	font-size 16px
	font-weight 400


#masthead
	background none