@require "partials/_global.styl"

/* ==========================================================================
	Child Main Stylesheet
   ========================================================================== */

html
	font-family $ff_body

body
	@extends html
