/*
 Theme Name:   Gideon and Hubcap
 Description:  Custom simple portfolio site for Roundhouse Commons.
 Author:       Roundhouse Designs
 Author URI:   https://roundhouse-designs.com
 Template:     rhd-classy
 Version:      0.1
 Text Domain:  rhd
*/
