/**
 * Basic stylesheet for the RHD MailChimp plugin by Roundhouse Designs
 **/

.rhd_mc_text {
	margin: 0.5em 0;
	text-align: center;
}

.rhd_mc_subscribe input {
	box-sizing: border-box;
}

.rhd_mc_fname,
.rhd_mc_lname,
.rhd_mc_email {
	width: 13em;
	margin: 0.25em auto;
	padding: 0.25em;
	background: #fff;
	font-size: 1em;
	border-radius: 0.0625em;
}

.rhd_mc_submit {
	text-align: center;
	background: #660000;
	color: #fff;
	border: none;
	padding: 0.3125em;
	font-size: .9em;
	margin-left: 0.625em;
	position: relative;
	cursor: pointer;
	outline: none;
}

.rhd_mc_thanks,
.rhd_mc_error {
	display: none;
}

.rhd_mc_thanks {
	width: 100%;
	position: relative;
}


/*
 * Clearfix: contain floats
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}